// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'BenchNine',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #4d4d4d;
@c2: #e4007b;
@c3: #0068b3;
@c4: #669ab5;
@c5: #0d3154;
@c6: #b0c900;

// font sizes
@fsp: 15px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 16px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// header
@header-hight: 180px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 990px) and (max-width: 1199px)";
@sm: ~"(min-width: 770px) and (max-width: 989px)";
@xs: ~"(max-width: 769px)";
@xxs: ~"(max-width: 479px)";